

// tablets and down.
@media only screen and (max-width: 1200px) {
 // wrapper changes for mobile (more screen realEstate)
 .wrapper{
  width: 90%;
  overflow-x: hidden; // prevents modal from appearing off screen when opening it via the lets talk span in story.
 } 


//modal
  .modal{
    width:70%;
  }
    //nav burger
    .mobileNavButton{
        display: inline-block;
        position: fixed;
        border: none;
        width: 3rem;
        aspect-ratio: 1;
        right: -40px;
        top: 0px;
        border-radius: 2px;
        cursor: pointer;
        z-index: 99;
        opacity: 0;
        transform: translateX(-100%);
        transition: opacity .2s ease-in, transform .25s linear;
        filter: drop-shadow(0px 3px 0px #00000000);
        background-color: rgba(0, 0, 0, 0);
        & img{
          position: absolute;
          left: 0;
          width: 100%;
          top: 0;
          background-color: rgba(0, 0, 0, 0);
        }

    }
    .mobileNavActive{
        transform: translateX(100%);
        border-left: 1px solid green;
        background-color: black;
    }
    .menuActive{
        opacity: 1; 
        transition:  0.5s ease-in-out;
        background-color: rgba(0, 0, 0, 0);
    }
    
    nav{
        padding: 10rem 0 0 0;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        position: fixed;
        transform: translateX(200%);
        transition: transform .5s linear;
        width: 50%;
        min-height: 100vh;
        background-color: rgba(255, 255, 255, 0.117);
    
        &  .menuUl{
                
                grid-template-columns:  repeat(1,1fr);
                
                hr{
                   display: none;
                }
            }
            .contactMe{
                border:none;
                border-bottom: green 2px solid;
                margin-bottom: 1rem;
                color: antiquewhite;
                font-size: 1.25rem;
                padding: 0;
                background-color:  rgba(0,0,0,0);
              
            }
            button:hover,button:focus{
                animation:  borderBreath 2s infinite;
                background-color:  rgba(0,0,0,0);
            }
            button:active{
                background-color:  rgba(0,0,0,0);
            } 
    }
    // hero
.fadeInArea{
    & {
        .name{
            font-size: 2rem;
            text-align: center;
            max-width: 90%;
        }
        .subHeading{
            font-size: 1.5rem;
             margin-bottom: 2.5rem;
             text-align: center;
             max-width: 90%;
        }
    }     
}

//projects
.showCase {
    h2 {
      font-size: 1.5rem;
      margin-bottom: 1rem;
    }
  
    & .showCaseContainer {
      & .project1, .project2, .project3 {
        width: 85%;
        flex-direction: column;
        justify-content: center;
        
        .previewImg1, .previewImg2, .previewImg3  {
        justify-content: center;
          flex-direction: column;
        }
        .previewImg1 img, .previewImg2 img, .previewImg3 img{
          width: 100%;
        }
        
        .projectInfo {
          & 
          .stackUsed {
            gap: .75rem;
          }
          p {
            line-height: 1.25;
            font-size: 1rem;
          }
          
          h3 {
            font-size: 1.15rem;
          }
        }
      }
    }
  }
  // about 
  .about{
    margin-top: 2rem;
    & .headshot{
        display: flex;
        flex-direction: column;
        gap: 1.15rem;
        max-width: 20rem;
        & ul{
           align-self: center;
        }
    }
    h2{
        font-size: 2rem;
       
    }

    & .aboutContainer{
      flex-direction: column;
        & 
        .myStoryText{
            width: 100%;
        }
    }
    & .techStack{
        & ul{
            flex-wrap: wrap;
            justify-content: center;
            gap: 2rem;
            & li{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                & img{
                    width: 40px;
                }
            }
        }
    }
  }
}

footer .glitch{
  font-size: 1.25rem;
}

