*, *:before, *:after {
  box-sizing: border-box;
}

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: none;
}

html {
  scroll-behavior: smooth;
}

p {
  font-size: 1.15rem;
}

footer, header, nav, section, main {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.wrapper {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

body {
  background-color: black;
  height: 100%;
  color: antiquewhite;
  font-family: "Space Mono", monospace;
  overflow-x: hidden;
  position: relative;
}

main {
  position: relative;
}

.top {
  position: fixed;
  height: 3.5rem;
  width: 3.5rem;
  opacity: 0;
  bottom: 2rem;
  right: 3rem;
  transition: opacity 0.5s linear;
  background: rgba(0, 0, 0, 0.342);
  border: none;
  font-size: 3rem;
  color: green;
  cursor: pointer;
}

.fadeInArea {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  min-height: 100svh;
  transition: 1s linear;
}
.fadeInArea .name {
  opacity: 0%;
  font-size: 5rem;
  color: inherit;
  transition: 1s linear;
}
.fadeInArea .subHeading {
  font-size: 4rem;
  color: inherit;
  opacity: 0;
  transition: 1s linear;
}
.fadeInArea .chevron {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0%;
}
.fadeInArea .chevron img {
  height: 50%;
}
.fadeInArea .active {
  opacity: 100%;
  transition: opacity 1 linear;
}
.fadeInArea .fadeInFadeOut {
  opacity: 1;
  transition: opacity 1 linear;
  animation: fadeInFadeOut 2.5s infinite;
}

.mobileNavButton {
  display: none;
}

nav {
  padding: 1rem;
  display: flex;
  justify-content: space-around;
  width: 100%;
  align-items: end;
  opacity: 0;
  background-color: black;
  z-index: 2;
}
nav .menuUl {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}
nav .menuUl li {
  list-style: none;
  text-align: center;
}
nav .menuUl li:hover ~ hr {
  transition: all 0.25s linear;
}
nav .menuUl hr {
  width: 100%;
  color: Green;
  border-color: Green;
  height: 1px;
  transition: all 0.25s linear;
  margin: 0;
}
nav .contactMe {
  background-color: black;
  border: 2px solid Green;
  color: antiquewhite;
  font-family: "Space Mono", monospace;
  font-size: 1.5rem;
  padding: 1rem;
}
nav button:hover, nav button:focus {
  animation: borderBreath 2s infinite;
  background-color: Green;
  cursor: pointer;
}
nav button:active {
  background-color: Green;
}

.menuLinks {
  color: antiquewhite;
  text-decoration: none;
  font-size: 1.25rem;
}

.lightMode {
  color: green;
  background-color: antiquewhite;
}

.menu2:hover ~ hr {
  margin-left: 130%;
}

.active {
  opacity: 1;
  transition: opacity 0.25s linear;
}

@keyframes borderBreath {
  0% {
    filter: drop-shadow(0px 0px 4px green);
  }
  13% {
    filter: drop-shadow(0px 0px 8px green);
  }
  26% {
    filter: drop-shadow(0px 0px 12px green);
  }
  36% {
    filter: drop-shadow(0px 0px 16px green);
  }
  49% {
    filter: drop-shadow(0px 0px 16px green);
  }
  62% {
    filter: drop-shadow(0px 0px 12px green);
  }
  75% {
    filter: drop-shadow(0px 0px 8px green);
  }
  88% {
    filter: drop-shadow(0px 0px 4px green);
  }
  100% {
    filter: drop-shadow(0px 0px 2px green);
  }
}
@keyframes fadeInFadeOut {
  0% {
    opacity: 0%;
  }
  50% {
    opacity: 100%;
  }
  100% {
    opacity: 0%;
  }
}
.modal {
  background-color: blue;
  border: 2px white outset;
  color: white;
  gap: 1rem;
  width: 20rem;
  transition: transform 0.5s ease-in-out;
  margin: 0 auto;
}
.modal div {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.modal form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.modal form fieldset {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.modal form fieldset input[type=text], .modal form fieldset input[type=email] {
  font-family: "Space Mono", monospace;
}
.modal form fieldset input[type=text]::placeholder, .modal form fieldset input[type=email]::placeholder {
  font-family: "Space Mono", monospace;
}
.modal form fieldset textarea {
  resize: none;
  border: 2px outset gray;
}
.modal form input[type=submit] {
  border: 2px outset gray;
}
.modal .closeModal {
  border: 2px outset gray;
}

.modal[open]::backdrop {
  background-color: rgba(0, 0, 255, 0.246);
}

.above {
  transform: translateY(-225%);
}

.showCase {
  margin: 2rem 0 0 0;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  min-height: 100svh;
  flex-direction: column;
  align-items: center;
}
.showCase h2 {
  font-size: 3rem;
  margin-bottom: 1rem;
}
.showCase .showCaseContainer {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.showCase .showCaseContainer .project1, .showCase .showCaseContainer .project2, .showCase .showCaseContainer .project3 {
  display: flex;
  height: fit-content;
  align-items: center;
  width: 75%;
  padding: 0;
  border: 2px dotted Green;
  transition: 1s ease;
}
.showCase .showCaseContainer .project1 .previewImg1, .showCase .showCaseContainer .project1 .previewImg2, .showCase .showCaseContainer .project1 .previewImg3, .showCase .showCaseContainer .project2 .previewImg1, .showCase .showCaseContainer .project2 .previewImg2, .showCase .showCaseContainer .project2 .previewImg3, .showCase .showCaseContainer .project3 .previewImg1, .showCase .showCaseContainer .project3 .previewImg2, .showCase .showCaseContainer .project3 .previewImg3 {
  display: flex;
  justify-content: center;
  height: inherit;
  flex-basis: 50%;
}
.showCase .showCaseContainer .project1 .previewImg1 img, .showCase .showCaseContainer .project1 .previewImg2 img, .showCase .showCaseContainer .project1 .previewImg3 img, .showCase .showCaseContainer .project2 .previewImg1 img, .showCase .showCaseContainer .project2 .previewImg2 img, .showCase .showCaseContainer .project2 .previewImg3 img, .showCase .showCaseContainer .project3 .previewImg1 img, .showCase .showCaseContainer .project3 .previewImg2 img, .showCase .showCaseContainer .project3 .previewImg3 img {
  width: 50%;
}
.showCase .showCaseContainer .project1 .previewImg2, .showCase .showCaseContainer .project2 .previewImg2, .showCase .showCaseContainer .project3 .previewImg2 {
  order: 2;
  border-right: none;
}
.showCase .showCaseContainer .project1 .projectInfo, .showCase .showCaseContainer .project2 .projectInfo, .showCase .showCaseContainer .project3 .projectInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  padding: 10px;
  transition: opacity 0.5s ease-in-out;
  flex-basis: 50%;
  text-align: left;
}
.showCase .showCaseContainer .project1 .projectInfo ul, .showCase .showCaseContainer .project2 .projectInfo ul, .showCase .showCaseContainer .project3 .projectInfo ul {
  display: flex;
  gap: 2rem;
}
.showCase .showCaseContainer .project1 .projectInfo .stackUsed, .showCase .showCaseContainer .project2 .projectInfo .stackUsed, .showCase .showCaseContainer .project3 .projectInfo .stackUsed {
  display: flex;
  gap: 1rem;
  justify-content: flex-start;
}
.showCase .showCaseContainer .project1 .projectInfo .stackUsed li img, .showCase .showCaseContainer .project2 .projectInfo .stackUsed li img, .showCase .showCaseContainer .project3 .projectInfo .stackUsed li img {
  width: 50px;
}
.showCase .showCaseContainer .project1 .projectInfo li, .showCase .showCaseContainer .project2 .projectInfo li, .showCase .showCaseContainer .project3 .projectInfo li {
  margin-top: 1rem;
}
.showCase .showCaseContainer .project1 .projectInfo .projectLinks, .showCase .showCaseContainer .project2 .projectInfo .projectLinks, .showCase .showCaseContainer .project3 .projectInfo .projectLinks {
  color: black;
  text-decoration: none;
  background-color: red;
  border-radius: 5px;
  margin-top: 3rem;
  padding: 5px 5px;
  font-weight: bold;
}
.showCase .showCaseContainer .project1 .projectInfo p, .showCase .showCaseContainer .project2 .projectInfo p, .showCase .showCaseContainer .project3 .projectInfo p {
  color: inherit;
  line-height: 1.5;
}
.showCase .showCaseContainer .project1 .projectInfo h3, .showCase .showCaseContainer .project2 .projectInfo h3, .showCase .showCaseContainer .project3 .projectInfo h3 {
  font-size: 1.75rem;
  display: inline-block;
}
.showCase .showCaseContainer .project1 .second, .showCase .showCaseContainer .project2 .second, .showCase .showCaseContainer .project3 .second {
  border-right: none;
  text-align: right;
}
.showCase .showCaseContainer .project2 ul {
  align-self: flex-end;
}

.about {
  margin: 3rem 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 3rem;
}
.about h2 {
  font-size: 3rem;
}
.about .socials {
  margin: 0;
  display: flex;
  gap: 2rem;
}
.about .socials li {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about .socials li img {
  height: auto;
  width: 50px;
  transition: 0.5s ease-in-out;
}
.about .socials li:hover img {
  width: 85px;
}
.about .aboutContainer {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 3rem;
}
.about .aboutContainer .headshot {
  display: flex;
  flex-direction: column;
  gap: 1.15rem;
  max-width: 20rem;
}
.about .aboutContainer .headshot .headshotImg {
  max-width: inherit;
  border-radius: 10px;
  border: 3px solid antiquewhite;
}
.about .aboutContainer .myStoryText {
  display: flex;
  width: 40%;
  padding: 0;
  gap: 0.25rem;
}
.about .aboutContainer .myStoryText p {
  line-height: 1.45;
}
.about .aboutContainer .myStoryText .letsTalkStory {
  font-size: 1.25rem;
  color: Green;
  cursor: pointer;
  text-transform: uppercase;
  transition: 0.5s ease-in;
}
.about .aboutContainer .myStoryText .letsTalkStory:hover {
  font-weight: 800;
  background-color: antiquewhite;
  padding: 1%;
  transition: 0.5s ease-in;
}
.about .techStack {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.about .techStack ul {
  margin-top: 1rem;
  display: flex;
  gap: 2rem;
}
.about .techStack ul li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.about .techStack ul li img {
  height: auto;
  width: 50px;
  margin: 0 0 1rem 0;
  transition: 0.5s ease-in-out;
}
.about .techStack ul li:hover img {
  width: 85px;
}

@media only screen and (max-width: 1200px) {
  .wrapper {
    width: 90%;
    overflow-x: hidden;
  }
  .modal {
    width: 70%;
  }
  .mobileNavButton {
    display: inline-block;
    position: fixed;
    border: none;
    width: 3rem;
    aspect-ratio: 1;
    right: -40px;
    top: 0px;
    border-radius: 2px;
    cursor: pointer;
    z-index: 99;
    opacity: 0;
    transform: translateX(-100%);
    transition: opacity 0.2s ease-in, transform 0.25s linear;
    filter: drop-shadow(0px 3px 0px rgba(0, 0, 0, 0));
    background-color: rgba(0, 0, 0, 0);
  }
  .mobileNavButton img {
    position: absolute;
    left: 0;
    width: 100%;
    top: 0;
    background-color: rgba(0, 0, 0, 0);
  }
  .mobileNavActive {
    transform: translateX(100%);
    border-left: 1px solid green;
    background-color: black;
  }
  .menuActive {
    opacity: 1;
    transition: 0.5s ease-in-out;
    background-color: rgba(0, 0, 0, 0);
  }
  nav {
    padding: 10rem 0 0 0;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    position: fixed;
    transform: translateX(200%);
    transition: transform 0.5s linear;
    width: 50%;
    min-height: 100vh;
    background-color: rgba(255, 255, 255, 0.117);
  }
  nav .menuUl {
    grid-template-columns: repeat(1, 1fr);
  }
  nav .menuUl hr {
    display: none;
  }
  nav .contactMe {
    border: none;
    border-bottom: green 2px solid;
    margin-bottom: 1rem;
    color: antiquewhite;
    font-size: 1.25rem;
    padding: 0;
    background-color: rgba(0, 0, 0, 0);
  }
  nav button:hover, nav button:focus {
    animation: borderBreath 2s infinite;
    background-color: rgba(0, 0, 0, 0);
  }
  nav button:active {
    background-color: rgba(0, 0, 0, 0);
  }
  .fadeInArea .name {
    font-size: 2rem;
    text-align: center;
    max-width: 90%;
  }
  .fadeInArea .subHeading {
    font-size: 1.5rem;
    margin-bottom: 2.5rem;
    text-align: center;
    max-width: 90%;
  }
  .showCase h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
  .showCase .showCaseContainer .project1, .showCase .showCaseContainer .project2, .showCase .showCaseContainer .project3 {
    width: 85%;
    flex-direction: column;
    justify-content: center;
  }
  .showCase .showCaseContainer .project1 .previewImg1, .showCase .showCaseContainer .project1 .previewImg2, .showCase .showCaseContainer .project1 .previewImg3, .showCase .showCaseContainer .project2 .previewImg1, .showCase .showCaseContainer .project2 .previewImg2, .showCase .showCaseContainer .project2 .previewImg3, .showCase .showCaseContainer .project3 .previewImg1, .showCase .showCaseContainer .project3 .previewImg2, .showCase .showCaseContainer .project3 .previewImg3 {
    justify-content: center;
    flex-direction: column;
  }
  .showCase .showCaseContainer .project1 .previewImg1 img, .showCase .showCaseContainer .project1 .previewImg2 img, .showCase .showCaseContainer .project1 .previewImg3 img, .showCase .showCaseContainer .project2 .previewImg1 img, .showCase .showCaseContainer .project2 .previewImg2 img, .showCase .showCaseContainer .project2 .previewImg3 img, .showCase .showCaseContainer .project3 .previewImg1 img, .showCase .showCaseContainer .project3 .previewImg2 img, .showCase .showCaseContainer .project3 .previewImg3 img {
    width: 100%;
  }
  .showCase .showCaseContainer .project1 .projectInfo .stackUsed, .showCase .showCaseContainer .project2 .projectInfo .stackUsed, .showCase .showCaseContainer .project3 .projectInfo .stackUsed {
    gap: 0.75rem;
  }
  .showCase .showCaseContainer .project1 .projectInfo p, .showCase .showCaseContainer .project2 .projectInfo p, .showCase .showCaseContainer .project3 .projectInfo p {
    line-height: 1.25;
    font-size: 1rem;
  }
  .showCase .showCaseContainer .project1 .projectInfo h3, .showCase .showCaseContainer .project2 .projectInfo h3, .showCase .showCaseContainer .project3 .projectInfo h3 {
    font-size: 1.15rem;
  }
  .about {
    margin-top: 2rem;
  }
  .about .headshot {
    display: flex;
    flex-direction: column;
    gap: 1.15rem;
    max-width: 20rem;
  }
  .about .headshot ul {
    align-self: center;
  }
  .about h2 {
    font-size: 2rem;
  }
  .about .aboutContainer {
    flex-direction: column;
  }
  .about .aboutContainer .myStoryText {
    width: 100%;
  }
  .about .techStack ul {
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
  }
  .about .techStack ul li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .about .techStack ul li img {
    width: 40px;
  }
}
footer .glitch {
  font-size: 1.25rem;
}

footer {
  display: flex;
  justify-content: center;
  border-top: 2px green solid;
  padding: 1rem;
  flex-direction: column;
  align-items: center;
}
footer .glitch {
  color: darkText;
  font-size: 2rem;
  text-transform: uppercase;
  text-align: center;
  position: relative;
  text-shadow: 0.05em 0 0 red, -0.025em -0.05em 0 blue, 0.025em 0.05em 0 green;
  animation: glitchVHS 500ms infinite;
}
footer .glitch span {
  position: absolute;
  top: 0;
  left: 0;
}
footer ul {
  margin: 1rem 0;
  display: flex;
  gap: 2rem;
}
footer ul li .footerSocial {
  font-size: 1.15rem;
  text-decoration: none;
  color: antiquewhite;
}

.glitch span:first-child {
  animation: glitchVHS 200ms infinite;
  clip-path: polygon(58% 0, 0 43%, 35% 94%);
  opacity: 0.7;
}

.glitch span:last-child {
  animation: glitchVHS 400ms infinite;
  clip-path: polygon(100% 26%, 40% 58%, 100% 78%);
  opacity: 0.7;
}

@keyframes glitchVHS {
  0% {
    text-shadow: 0.05em 0 0 red, -0.025em -0.05em 0 blue, 0.025em 0.05em 0 green;
  }
  14% {
    text-shadow: 0.05em 0 0 red, -0.025em -0.05em 0 blue, 0.025em 0.05em 0 green;
  }
  15% {
    text-shadow: -0.04em -0.02em 0 red, -0.025em -0.05em 0 blue, 0.045em 0.05em 0 green;
  }
  49% {
    text-shadow: -0.05em -0.02em 0 red, -0.025em -0.05em 0 blue, 0.025em 0.05em 0 green;
  }
  50% {
    text-shadow: 0.02em -0.02em 0 red, 0.04em 0.02em 0 blue, -0.02em -0.05em 0 green;
  }
  99% {
    text-shadow: 0.02em -0.02em 0 red, 0.04em 0.02em 0 blue, -0.02em -0.05em 0 green;
  }
  100% {
    text-shadow: 0em 0.03em 0 red, -0.03em 0.05em 0 blue, -0.04em -0.01em 0 green;
  }
}/*# sourceMappingURL=Styles.css.map */