.wrapper{ 
    width:80%; 
    margin:0 auto;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}
body{
    background-color: black;
    height: 100%;
    color: antiquewhite;
    font-family: 'Space Mono', monospace;
    overflow-x:hidden;
}