//  HackerMans
.fadeInArea{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Space Mono', monospace;
    color: antiquewhite;
    & {
        .name{
            opacity: 0%;
            font-size: 5rem;
            color: inherit;
            transition: 1s linear;
        }
        .subHeading{
            font-family: 'Space Mono', monospace;
            font-size: 4rem;
            color: inherit;
            opacity: 0;
            transition: 1s linear;
        }
        .chevron{
            position: absolute;
            bottom: 10%;
            opacity: 0%;
        }
        .active{
            opacity: 100%;
            transition: opacity 1 linear ;
        }
        .fadeInFadeOut{
            opacity: 1;
            transition: opacity 1 linear ;
            animation: fadeInFadeOut 2.5s infinite;
        }
    }     
}

// Navigation STARTS

nav{
    position: fixed;
    margin-top: 1rem;
    display: flex;
    justify-content: space-around;
    width: 100%;
    transition: 1s linear;
    align-items: end;
    opacity: 0;
    

    &  .menuUl{
            display: grid;
            grid-template-columns:  repeat(2,1fr);
            gap: 1rem;
            & li{
                list-style: none;
                text-align: center;
                a{
                color: antiquewhite;
                text-decoration: none;
                font-family: 'Space Mono', monospace;
                font-size: 1.25rem;
                }
                &:hover{
                    & ~ hr{
                        animation:  borderBreath 2s infinite;
                        transition: all 1s linear;
                    }
                }
            }
            hr{
                width: 100%;
                color: green;
                height: 2px;
                transition: all 1s linear;
            }
        }
        .contactMe{
            background-color: black;
            border: 2px solid green;
            color: antiquewhite;
            font-family: 'Space Mono', monospace;
            font-size: 1.5rem;
            padding: 1rem;
        }
        button:hover,button:focus{
            animation:  borderBreath 2s infinite;
            cursor: pointer;
        }
        button:active{
            background-color: darkgreen;
        } 
}

// Menu HR movement
.menu2:hover ~ hr{
    margin-left: 120%;
}

.active{
    opacity: 100%;
    transition: opacity 1 linear ;
}


@keyframes borderBreath {
    0% {filter: drop-shadow(0px 0px 4px green);}
    13% {filter: drop-shadow(0px 0px 8px green);}
    26% {filter: drop-shadow(0px 0px 12px green);}
    36% {filter: drop-shadow(0px 0px 16px green);}
    49% {filter: drop-shadow(0px 0px 16px green);}
    62% {filter: drop-shadow(0px 0px 12px green);}
    75% {filter: drop-shadow(0px 0px 8px green);}
    88% {filter: drop-shadow(0px 0px 4px green);}
    100% {filter: drop-shadow(0px 0px 2px green);}
}

@keyframes fadeInFadeOut{
    0% {opacity: 0%};
    50% {opacity: 100%};
    100% {opacity: 0%}
}

 
