.showCase {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    gap: 10rem;
  
    h2 {
      font-size: 3rem;
    }
  
    & .container {
      display: flex;
      gap: 3.5rem;
      width: 100%;
      justify-content: space-around;
  
      & div {
        display: flex;
        flex-direction: column;
        width: 20rem;
        padding: 1rem;
        gap: 1rem;
  
        .previewImg1, .previewImg2, .previewImg3  {
           position: relative;
           height: 30rem;
           width: 30rem;
           background-position: center;
           background-size: cover;
           background-repeat: none;
        }
        .previewImg1{
          background-image: url(../Assets/JobBoard.png);
        }
        .previewImg2{
          background-image: url(../Assets/clipboard.png);
        }   
        .previewImg3{
          background-image: url(../Assets/oreg.png);
        }
        .projectInfo {
          display: flex;
          justify-content: center;  
          background:rgba(0, 128, 0, 0.225);
          border-radius: 8px;
          position: absolute;
          height: 30rem;
          width: 30rem;
          opacity: 0;
          transition: opacity .5s ease-in-out;
          & 
          
          
          ul{
            display: flex;
            gap: 2rem;
          }
          .stackUsed {
            display: flex;
            gap: 1rem;
            justify-content: flex-start;
            & img {
              max-height: 3.5rem;
              filter: drop-shadow(0 0 10px black);
            }
            li{
              padding: 1%;
              border-radius: 5px;
              background-color: black;
              color: green;
            }
          }
  
          li {
            margin-top: 1rem;
          }
  
          a {
            color:red;
            padding: 1%;
            text-decoration: none;
            background-color: black;
            border-radius: 3px;
            margin-top: 3rem;
            padding: 0 2px;
          }
  
          p {
            color: green;
            padding: 1%;
            background-color: black;
            border-radius: 8px;
            line-height: 1.5;
          }
  
          h3 {
            font-size: 1.25rem;
            color: green;
            background-color: black;
            display: inline-block;
          }
          &:hover{
            opacity: 1;
            transition: opacity .5s ease-in-out;
          }
        }

      }
    }
  }
  