.showCase {
    margin: 2rem 0 0 0;
    display: flex;
    justify-content: center;
    height: 100vh;
    flex-direction: column;
    align-items: center;
 
  
    h2 {
      font-size: 3rem;
    }
  
    & .showCaseContainer {
      display: flex;
      gap: 3.5rem;
      width: 100%;
      justify-content: space-around;
  
      & .project1, .project2, .project3 {
        display: flex;
        flex-direction: column;
        height: fit-content;
        width: 25rem;
        padding:0;
        gap: 1rem;
  
        .previewImg1, .previewImg2, .previewImg3  {
          display: flex;
          justify-content: center; 
          height: inherit;
           width: inherit;
        }
        .previewImg1 img, .previewImg2 img, .previewImg3 img{
          width: inherit;
        }
      
        .projectInfo {
          display: flex;
          flex-direction: column;
          justify-content: center;
          gap: 1rem;  
          background:rgba(0, 128, 0, 0.225);
          border-radius: 8px;
          height: inherit;
          width: inherit;
          padding: 10px;
          transition: opacity .5s ease-in-out;
          & 
          ul{
            display: flex;
            gap: 2rem;
          }
          .stackUsed {
            display: flex;
            gap: 1rem;
            justify-content: flex-start;
            & img {
              max-height: 3.5rem;
              filter: drop-shadow(0 0 10px black);
            }
            li{
              padding: 1%;
              border-radius: 5px;
              background-color: black;
              color: green;
            }
          }
  
          li {
            margin-top: 1rem;
          }
  
          a {
            color:red;
            padding: 1%;
            text-decoration: none;
            background-color: black;
            border-radius: 3px;
            margin-top: 3rem;
            padding: 0 2px;
          }
  
          p {
            color: green;
            padding: 1%;
            background-color: black;
            border-radius: 8px;
            line-height: 1.5;
          }
  
          h3 {
            font-size: 1.25rem;
            color: green;
            background-color: black;
            display: inline-block;
          }
        }
      }
    }
  }
  