*, *:before, *:after {
  box-sizing: border-box;
}

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: none;
}

html {
  scroll-behavior: smooth;
}

footer, header, nav, section, main {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

.wrapper {
  width: 80%;
  margin: 0 auto;
}

body {
  background-color: black;
  height: 100%;
  color: antiquewhite;
  font-family: "Space Mono", monospace;
}

.fadeInArea {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.fadeInArea .name {
  opacity: 0%;
  font-size: 5rem;
  color: inherit;
  transition: 1s linear;
}
.fadeInArea .subHeading {
  font-size: 4rem;
  color: inherit;
  opacity: 0;
  transition: 1s linear;
}
.fadeInArea .chevron {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 10%;
  opacity: 0%;
}
.fadeInArea .chevron img {
  height: 50%;
}
.fadeInArea .active {
  opacity: 100%;
  transition: opacity 1 linear;
}
.fadeInArea .fadeInFadeOut {
  opacity: 1;
  transition: opacity 1 linear;
  animation: fadeInFadeOut 2.5s infinite;
}

nav {
  position: fixed;
  padding: 1rem;
  display: flex;
  justify-content: space-around;
  width: 100%;
  transition: 1s linear;
  align-items: end;
  opacity: 0;
  background-color: black;
  z-index: 2;
}
nav .menuUl {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}
nav .menuUl li {
  list-style: none;
  text-align: center;
}
nav .menuUl li a {
  color: antiquewhite;
  text-decoration: none;
  font-size: 1.25rem;
}
nav .menuUl li:hover ~ hr {
  animation: borderBreath 2s infinite;
  transition: all 1s linear;
}
nav .menuUl hr {
  width: 100%;
  color: green;
  border-color: green;
  height: 2px;
  transition: all 1s linear;
}
nav .contactMe {
  background-color: black;
  border: 2px solid green;
  color: antiquewhite;
  font-family: "Space Mono", monospace;
  font-size: 1.5rem;
  padding: 1rem;
}
nav button:hover, nav button:focus {
  animation: borderBreath 2s infinite;
  cursor: pointer;
}
nav button:active {
  background-color: darkgreen;
}

.menu2:hover ~ hr {
  margin-left: 120%;
}

.active {
  opacity: 100%;
  transition: opacity 1 linear;
}

@keyframes borderBreath {
  0% {
    filter: drop-shadow(0px 0px 4px green);
  }
  13% {
    filter: drop-shadow(0px 0px 8px green);
  }
  26% {
    filter: drop-shadow(0px 0px 12px green);
  }
  36% {
    filter: drop-shadow(0px 0px 16px green);
  }
  49% {
    filter: drop-shadow(0px 0px 16px green);
  }
  62% {
    filter: drop-shadow(0px 0px 12px green);
  }
  75% {
    filter: drop-shadow(0px 0px 8px green);
  }
  88% {
    filter: drop-shadow(0px 0px 4px green);
  }
  100% {
    filter: drop-shadow(0px 0px 2px green);
  }
}
@keyframes fadeInFadeOut {
  0% {
    opacity: 0%;
  }
  50% {
    opacity: 100%;
  }
  100% {
    opacity: 0%;
  }
}
.showCase {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}
.showCase h2 {
  font-size: 3rem;
}
.showCase .container {
  display: flex;
  gap: 3.5rem;
}
.showCase .container div {
  display: flex;
  flex-direction: column;
  width: 20rem;
  padding: 1rem;
  gap: 1rem;
}
.showCase .container div .stackUsed {
  display: flex;
  gap: 1rem;
  justify-content: flex-start;
}
.showCase .container div .stackUsed img {
  max-height: 2.5rem;
}
.showCase .container div li {
  margin-top: 1rem;
}
.showCase .container div a {
  color: black;
  text-decoration: none;
  background-color: antiquewhite;
  border-radius: 3px;
  margin-top: 3rem;
  padding: 0 2px;
}
.showCase .container div p {
  line-height: 1.5;
}
.showCase .container div h3 {
  font-size: 1.25rem;
}/*# sourceMappingURL=Styles.css.map */