*, *:before, *:after {
  box-sizing: border-box;
}

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: none;
}

html {
  scroll-behavior: smooth;
}

p {
  font-size: 1.15rem;
}

footer, header, nav, section, main {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

.wrapper {
  width: 80%;
  margin: 0 auto;
}

body {
  background-color: black;
  height: 100%;
  color: antiquewhite;
  font-family: "Space Mono", monospace;
}

.fadeInArea {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.fadeInArea .name {
  opacity: 0%;
  font-size: 5rem;
  color: inherit;
  transition: 1s linear;
}
.fadeInArea .subHeading {
  font-size: 4rem;
  color: inherit;
  opacity: 0;
  transition: 1s linear;
}
.fadeInArea .chevron {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 10%;
  opacity: 0%;
}
.fadeInArea .chevron img {
  height: 50%;
}
.fadeInArea .active {
  opacity: 100%;
  transition: opacity 1 linear;
}
.fadeInArea .fadeInFadeOut {
  opacity: 1;
  transition: opacity 1 linear;
  animation: fadeInFadeOut 2.5s infinite;
}

nav {
  padding: 1rem;
  display: flex;
  justify-content: space-around;
  width: 100%;
  transition: 1s linear;
  align-items: end;
  opacity: 0;
  background-color: black;
  z-index: 2;
}
nav .menuUl {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}
nav .menuUl li {
  list-style: none;
  text-align: center;
}
nav .menuUl li a {
  color: antiquewhite;
  text-decoration: none;
  font-size: 1.25rem;
}
nav .menuUl li:hover ~ hr {
  animation: borderBreath 2s infinite;
  transition: all 0.25s linear;
}
nav .menuUl hr {
  width: 100%;
  color: green;
  border-color: green;
  height: 1px;
  transition: all 0.25s linear;
  margin: 0;
}
nav .contactMe {
  background-color: black;
  border: 2px solid green;
  color: antiquewhite;
  font-family: "Space Mono", monospace;
  font-size: 1.5rem;
  padding: 1rem;
}
nav button:hover, nav button:focus {
  animation: borderBreath 2s infinite;
  background-color: darkgreen;
  cursor: pointer;
}
nav button:active {
  background-color: darkgreen;
}

.menu2:hover ~ hr {
  margin-left: 130%;
}

.active {
  opacity: 1;
  transition: opacity 1 linear;
}

@keyframes borderBreath {
  0% {
    filter: drop-shadow(0px 0px 4px green);
  }
  13% {
    filter: drop-shadow(0px 0px 8px green);
  }
  26% {
    filter: drop-shadow(0px 0px 12px green);
  }
  36% {
    filter: drop-shadow(0px 0px 16px green);
  }
  49% {
    filter: drop-shadow(0px 0px 16px green);
  }
  62% {
    filter: drop-shadow(0px 0px 12px green);
  }
  75% {
    filter: drop-shadow(0px 0px 8px green);
  }
  88% {
    filter: drop-shadow(0px 0px 4px green);
  }
  100% {
    filter: drop-shadow(0px 0px 2px green);
  }
}
@keyframes fadeInFadeOut {
  0% {
    opacity: 0%;
  }
  50% {
    opacity: 100%;
  }
  100% {
    opacity: 0%;
  }
}
.modal[open] {
  background-color: blue;
  border: 2px white outset;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 20rem;
  transition: opacity 0.3s ease-in-out;
  opacity: 1;
}
.modal[open] div {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.modal[open] form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.modal[open] form fieldset {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.modal[open] form fieldset input[type=text], .modal[open] form fieldset input[type=email] {
  font-family: "Space Mono", monospace;
}
.modal[open] form fieldset input[type=text]::placeholder, .modal[open] form fieldset input[type=email]::placeholder {
  font-family: "Space Mono", monospace;
}
.modal[open] form fieldset textarea {
  resize: none;
  border: 2px outset gray;
}
.modal[open] form input[type=submit] {
  border: 2px outset gray;
}
.modal[open] .closeModal {
  border: 2px outset gray;
}

.modal[open]::backdrop {
  background-color: rgba(0, 0, 255, 0.246);
}

.modal {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.showCase {
  margin: 2rem 0 0 0;
  display: flex;
  justify-content: center;
  height: 100vh;
  flex-direction: column;
  align-items: center;
}
.showCase h2 {
  font-size: 3rem;
  margin-bottom: 1rem;
}
.showCase .showCaseContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.showCase .showCaseContainer .project1, .showCase .showCaseContainer .project2, .showCase .showCaseContainer .project3 {
  display: flex;
  height: fit-content;
  width: 75%;
  padding: 0;
}
.showCase .showCaseContainer .project1 .previewImg1, .showCase .showCaseContainer .project1 .previewImg2, .showCase .showCaseContainer .project1 .previewImg3, .showCase .showCaseContainer .project2 .previewImg1, .showCase .showCaseContainer .project2 .previewImg2, .showCase .showCaseContainer .project2 .previewImg3, .showCase .showCaseContainer .project3 .previewImg1, .showCase .showCaseContainer .project3 .previewImg2, .showCase .showCaseContainer .project3 .previewImg3 {
  display: flex;
  justify-content: center;
  height: inherit;
  flex-basis: 50%;
}
.showCase .showCaseContainer .project1 .previewImg1 img, .showCase .showCaseContainer .project1 .previewImg2 img, .showCase .showCaseContainer .project1 .previewImg3 img, .showCase .showCaseContainer .project2 .previewImg1 img, .showCase .showCaseContainer .project2 .previewImg2 img, .showCase .showCaseContainer .project2 .previewImg3 img, .showCase .showCaseContainer .project3 .previewImg1 img, .showCase .showCaseContainer .project3 .previewImg2 img, .showCase .showCaseContainer .project3 .previewImg3 img {
  width: 50%;
}
.showCase .showCaseContainer .project1 .previewImg2, .showCase .showCaseContainer .project2 .previewImg2, .showCase .showCaseContainer .project3 .previewImg2 {
  order: 2;
  border-right: none;
}
.showCase .showCaseContainer .project1 .projectInfo, .showCase .showCaseContainer .project2 .projectInfo, .showCase .showCaseContainer .project3 .projectInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  padding: 10px;
  transition: opacity 0.5s ease-in-out;
  flex-basis: 50%;
  text-align: left;
}
.showCase .showCaseContainer .project1 .projectInfo ul, .showCase .showCaseContainer .project2 .projectInfo ul, .showCase .showCaseContainer .project3 .projectInfo ul {
  display: flex;
  gap: 2rem;
}
.showCase .showCaseContainer .project1 .projectInfo .stackUsed, .showCase .showCaseContainer .project2 .projectInfo .stackUsed, .showCase .showCaseContainer .project3 .projectInfo .stackUsed {
  display: flex;
  gap: 1rem;
  justify-content: flex-start;
}
.showCase .showCaseContainer .project1 .projectInfo .stackUsed img, .showCase .showCaseContainer .project2 .projectInfo .stackUsed img, .showCase .showCaseContainer .project3 .projectInfo .stackUsed img {
  max-height: 3.5rem;
  filter: drop-shadow(0 0 10px black);
}
.showCase .showCaseContainer .project1 .projectInfo .stackUsed li, .showCase .showCaseContainer .project2 .projectInfo .stackUsed li, .showCase .showCaseContainer .project3 .projectInfo .stackUsed li {
  border-radius: 5px;
  background-color: black;
  color: green;
  font-style: italic;
}
.showCase .showCaseContainer .project1 .projectInfo li, .showCase .showCaseContainer .project2 .projectInfo li, .showCase .showCaseContainer .project3 .projectInfo li {
  margin-top: 1rem;
}
.showCase .showCaseContainer .project1 .projectInfo a, .showCase .showCaseContainer .project2 .projectInfo a, .showCase .showCaseContainer .project3 .projectInfo a {
  color: black;
  text-decoration: none;
  background-color: red;
  border-radius: 10px;
  margin-top: 3rem;
  padding: 1px 2px;
}
.showCase .showCaseContainer .project1 .projectInfo p, .showCase .showCaseContainer .project2 .projectInfo p, .showCase .showCaseContainer .project3 .projectInfo p {
  color: green;
  background-color: black;
  border-radius: 8px;
  line-height: 1.5;
}
.showCase .showCaseContainer .project1 .projectInfo h3, .showCase .showCaseContainer .project2 .projectInfo h3, .showCase .showCaseContainer .project3 .projectInfo h3 {
  font-size: 1.25rem;
  color: green;
  background-color: black;
  display: inline-block;
}
.showCase .showCaseContainer .project1 .second, .showCase .showCaseContainer .project2 .second, .showCase .showCaseContainer .project3 .second {
  border-right: none;
  text-align: right;
}

.project1 {
  border-left: 5px dashed rgba(0, 128, 0, 0.451);
  border-bottom: 5px dashed rgba(0, 128, 0, 0.451);
}

.project2 {
  border-right: 5px dashed rgba(0, 128, 0, 0.451);
  border-bottom: 5px dashed rgba(0, 128, 0, 0.451);
}

.project3 {
  border-left: 5px dashed rgba(0, 128, 0, 0.451);
  border-bottom: 5px dashed rgba(0, 128, 0, 0.451);
}

.about {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  gap: 3rem;
}
.about h2 {
  font-size: 3rem;
}
.about .socials {
  margin: 0;
  display: flex;
  gap: 2rem;
}
.about .socials li {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about .socials li img {
  height: auto;
  width: 50px;
}
.about .aboutContainer {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 3rem;
}
.about .aboutContainer .headshot {
  display: flex;
  flex-direction: column;
  gap: 1.15rem;
  max-width: 20rem;
}
.about .aboutContainer .headshot img {
  max-width: inherit;
  border-radius: 10px;
  filter: grayscale(20%) drop-shadow(0px 0px 10px green);
}
.about .aboutContainer .myStoryText {
  display: flex;
  width: 40%;
  padding: 0;
  gap: 0.25rem;
}
.about .aboutContainer .myStoryText p {
  line-height: 1.45;
}
.about .aboutContainer .myStoryText span {
  color: red;
  font-weight: 800;
}
.about .aboutContainer .myStoryText a {
  color: green;
  padding: 0px 2px;
  border-radius: 10px;
  font-weight: 800;
}
.about .techStack {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.about .techStack ul {
  margin-top: 1rem;
  display: flex;
  gap: 2rem;
}
.about .techStack ul li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.about .techStack ul li img {
  height: auto;
  width: 50px;
  margin: 0 0 1rem 0;
}/*# sourceMappingURL=Styles.css.map */